var juju_config = {
  consoleEnabled: %(console_enabled)s,
  serverRouting: false,
  html5: true,
  container: '#main',
  viewContainer: '#main',
  transitions: false,
  charm_store_url: 'https://jujucharms.com/',
  socket_url: 'wss://%(address)s:%(port)s/ws',
  user: %(user)s,
  password: %(password)s,
  readOnly: %(readonly)s,
  login_help: %(login_help)s
};
