var juju_config = {
  // These are blacklisted config items not passed into subapps mounted into
  // the main App.
  serverRouting: false,
  html5: true,
  container: '#main',
  viewContainer: '#main',
  transitions: false,

  // These are the main application config items used and passed down into all
  // SubApps.
  cachedFonts: {{cached_fonts}},
  consoleEnabled: {{console_enabled}},
  charmworldURL: {{charmworld_url}},
  // Path to the charm store. This property supersedes the charmworldURL
  // property above.
  charmstoreURL: {{charmstore_url}},
  // socket_url is only honored in older versions of the GUI.
  socket_url: '{{raw_protocol}}://{{address}}/ws',
  // socket_protocol is used instead by newer versions of the GUI to
  // dynamically generate the websocket address.
  socket_protocol: {{protocol}},
  sandboxSocketURL: 'wss://demo.jujucharms.com/ws',
  user: {{user}},
  password: {{password}},
  apiBackend: {{api_backend}}, // Value can be 'python' or 'go'.
  readOnly: {{readonly}},
  sandbox: {{sandbox}},
  GA_key: {{ga_key}},
  login_help: {{login_help}},
  hideLoginButton: {{hide_login_button}},
  jujuCoreVersion: {{juju_core_version}},
  jujuEnvUUID: {{juju_env_uuid}}
};
