description "Juju API staging"
author "Canonical"

start on runlevel [2345]
stop on runlevel [!2345]

setuid ubuntu
env PYTHONPATH=%(juju_dir)s:$PYTHONPATH

exec /usr/bin/python %(juju_dir)s/improv.py --port %(port)s \
    -f %(juju_dir)s/%(staging_env)s.json \
    --secure --keys %(keys)s
